#Eclipse
bin/
*.class

#tinyMediaManager
cache
jspf.cache
logs
log
config.xml
*.odb
*.odb$
*.desktop
scraper_*.conf
tmm_ui.prop
tmm.uuid
backup
build
dist
movies.db
tvshows.db
/tmm.uuid.disable
/tmm.lic
/ignore/
/plugins/
/config/
/data/

/target/
